
@font-face {
  font-family: "FuturaLight";
  src: url('https://anima-uploads.s3.amazonaws.com/590de98e9ed2dd000c674923/590de9b3410ae9000d4974cb/590dfa5d9ed2dd000b7173f0/fonts/Futura (Light).ttf') format("truetype");
}

.index {
  width               : 100%;
  max-width           : 100%;
  min-width           : 320px;
  height              : 100%;
  min-height          : 300px;
  position            : relative;
  overflow            : scroll;
  overflow-x          : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
  -webkit-overflow-scrolling: touch;
}
a {
  text-decoration     : none;
}
.index .rectangle8 {
  background          : rgba(255, 87, 91, 1.0);
  width               : 100%;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.index .rectangle8-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 436px;
  width               : 100%;
  position            : relative;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .group17 {
  background          : rgba(255, 255, 255, 0.0);
  width               : 261px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.index .group17-layout-container{
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  height              : 43px;
  width               : 100%;
  position            : relative;
  margin              : 0;
  margin-top          : 48px;
  display             : flex;
  left                : 0;
}

.index .loading{
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  height              : 43px;
  width               : 100%;
  position            : relative;
  margin              : 0;
  margin-top          : 40px;
  display             : flex;
  left                : 0;
  font-family         : sans-serif, "FuturaLight", sans-serif;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}

.index .loading-giphy {
  width               : 320px;
  margin              : auto;
  margin-top          : 48px;
  margin-bottom       : 48px;
  display             : none;
}

.index .loading-giphy .giphy {
  width       : 100%;
  max-height  : 300px;
}

.index .last-giphy {
  width               : 100%;
  height              : 300px;
  max-height          : 300px;
  align-items         : center;
  margin              : 0;
  margin-top          : 48px;
  left                : 0;
}

.index .last-giphy .giphy {
  margin      : auto;
  width       : 320px;
  max-height  : 100%;
  top         : 0;
  bottom      : 0;
  left        : 0;
  right       : 0;

}

.index .group17 .where-is-your-airbnb {
  background          : rgba(255, 255, 255, 0.0);
  border              : none;
  top                 : 0px;
  height              : auto;
  width               : 226px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.5;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 24.0px;
  color               : rgba(164, 173, 176, 1.0);
  text-align          : left;
  line-height         : 32.0px;
  overflow-x          : scroll;
}
.index .group17 .rectangle2 {
  background          : rgba(255, 87, 91, 1.0);
  top                 : 41px;
  height              : 2px;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.index .group17 .group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 226px;
}
.index .group17 .group .oval {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : auto;
  left                : 0px;
  right: 0;
  bottom: 0;
}
.index .group17 .group .line {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : auto;
  left                : 16px;
  right: 0;
  bottom: 0;
}
.index .group16 {
  background          : rgba(255, 255, 255, 0.0);
  width               : 320px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.index .group16-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  height              : 284px;
  width               : 100%;
  position            : relative;
  margin              : 0;
  margin-top          : 120px;
  display             : flex;
  left                : 0;
}
.index .group16 .before-airbnb {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  min-width           : 253px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 54.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 72.0px;
}
.index .group16 .onlymytho {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 267px;
  min-width           : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 228px;
  opacity             : 0.5;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 16.0px;
}
.index .group16 .research-neighborhoo {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 172px;
  height              : auto;
  width               : 272px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.index .total_result_layout_container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 575px;
  align-items         : center;
  height              : 152px;
  width               : 100%;
  margin              : 0;
  margin-top          : 48px;
  display             : flex;
  left                : 0;
  visibility          : visible;
}
.index .total_result {
  background          : rgba(255, 255, 255, 0.0);
  width               : 272px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.index .total_result .not-easy-but-there {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 88px;
  height              : auto;
  width               : 272px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : sans-serif, "FuturaLight", sans-serif;
  font-size           : 24.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.index .total_result .scores {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 37px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  opacity             : 0.8;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 28.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : left;
  line-height         : 37.0px;
}
.index .total_result .a82 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 64.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : left;
  letter-spacing      : -1.0px;
  line-height         : 85.0px;
}

.index .analysis_result_layout_container {
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  height              : auto;
  width               : 100%;
  margin              : 0;
  margin-top          : 48px;
  margin-bottom       : 48px;
  display             : flex;
  left                : 0;
}
.index .analysis_result {
  background          : rgba(255, 255, 255, 0.0);
  width               : 320px;
  pointer-events      : auto;
  position            : relative;
}
.index .analysis_result .a929-listings {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : relative;
  margin-left         : 24px;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 32.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 42.0px;
}
.index .analysis_result .group8 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 591px;
  height              : 239px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
}
.index .analysis_result .group8 .group5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : 80px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.index .analysis_result .group8 .group4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : 80px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 104px;
}
.index .analysis_result .group8 .group6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : 80px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 207px;
}
.index .analysis_result .group8 .group15 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 109px;
}
.index .analysis_result .group8 .group14 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 211px;
}
.index .analysis_result .group8 .group14 .group3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 6px;
  width               : 30px;
  position            : relative;
  margin              : 0;
  left                : 13px;
}
.index .analysis_result .group8 .group13 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.index .analysis_result .group8 .group13 .group7 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 40px;
  width               : 42px;
  position            : relative;
  margin              : 0;
  left                : 6px;
}
/*analysis_div_320*/
.index .analysis_result .analysis_div_320 {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : 320px;
  margin              : 0;
  margin-top          : 48px;
  left                : 0px;
}
.index .analysis_result .analysis_div_320 .title {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  margin              : 0;
  margin-left         : 24px;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.index .analysis_result .analysis_div_320 .desc {
  font-family         : sans-serif, "FuturaLight", sans-serif;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 19.0px;
  margin-top          : 14px;
  margin-left         : 24px;
  margin-right        : 24px;
}
.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph {
  width               : 320px;
  height              : 50px;
  margin-top          : 14px;
}

.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph .border_top {
  background          : rgba(222, 222, 222, 1.0);
  height              : 1px;
  width               : 100%;
  margin              : 0;
}
.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph .body {
  width               : auto;
  height              : 48px;
}
.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph .body_first {
  background          : rgba(255, 87, 91, 0.1);
  display             : inline-block;
  height              : 48px;
  width               : 120px;
  margin              : 0;
  float               : left;
}
.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph .body_last {
  background          : rgba(255, 87, 91, 1.0);
  height              : 48px;
  width               : 200px;
  float               : right;
}
.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph .border_bottom {
  background          : rgba(222, 222, 222, 1.0);
  height              : 1px;
  width               : 100%;
  margin              : 0;
  bottom              : 0;
}
.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph .body_last .opportunity {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  margin              : 0;
  margin-right        : 24px;
  margin-top          : 12px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 24.0px;
  float               : right;
}

.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph_data {
  margin-top          : 14px;
}

.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph_data .first {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  margin              : 0;
  margin-left         : 24px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 24.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : left;
  line-height         : 32.0px;
  display             : inline-block;
}
.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph_data .last {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 172px;
  height              : auto;
  width               : auto;
  margin              : 0;
  margin-right        : 24px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 24.0px;
  color               : rgba(160, 160, 160, 1.0);
  text-align          : right;
  line-height         : 32.0px;
  display             : inline-block;
  float               : right;
}

.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph_label .first {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 203px;
  height              : auto;
  width               : auto;
  margin-left         : 24px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 18.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : left;
  line-height         : 24.0px;
  display             : inline-block;

}
.index .analysis_result .analysis_div_320 .horizontal_bar_one_graph_label .last {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  margin              : 0;
  margin-right        : 24px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 18.0px;
  color               : rgba(160, 160, 160, 1.0);
  text-align          : right;
  line-height         : 24.0px;
  display             : inline-block;
  float               : right;
}

.index .analysis_result .analysis_div_320 .listings-distances {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  margin              : 0;
  left                : 0px;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}

.index .analysis_result .analysis_div_320 .listings-distances-table-div {
  display             : block;
  margin-top          : 28px;
  margin-left         : 24px;
}

.index .analysis_result .analysis_div_320 table {
  border-collapse: collapse;
  width: 272px;
}

.index .analysis_result .analysis_div_320 th {
  border              : 1px solid rgba(230, 230, 230, 1.0);
  padding             : 10px;
  width               : 160px;
  height              : 30px;
  vertical-align      : top;
  font-family         : sans-serif;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}

.index .analysis_result .analysis_div_320 td {
  border              : 1px solid rgba(230, 230, 230, 1.0);
  padding             : 10px;
  width               : 160px;
  height              : 30px;
  vertical-align      : top;
  font-family         : sans-serif;
  font-size           : 16.0px;
  font-weight         : 300;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.index .analysis_result .analysis_div_320 .count {
  text-align          : right;
}
.index .analysis_result .analysis_div_320 .group11 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 88px;
  height              : 276px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
}
.index .analysis_result .analysis_div_320 .group11 .a10m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a0m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a0 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a0-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a20m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 49px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 49px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a50m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 82px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 82px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a100m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 117px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a13 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 117px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a200m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a28 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a500m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 211px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a145 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 211px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a1km {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 263px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .group11 .a250 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 263px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .distance-text {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 58px;
  min-width           : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .analysis_div_320 .listings-text {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 58px;
  min-width           : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 10.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.index .analysis_result .bitmap {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2080px;
  height              : 290px;
  width               : 124px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
}
.index .analysis_result .analysis_div_272 {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;;
  width               : 272px;
  position            : relative;
  margin              : 0;
  margin-top          : 48px;
  left                : 24px;
}
.index .analysis_result .analysis_div_272 .title {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : relative;
  margin              : 0;
  left                : 0px;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.index .analysis_result .analysis_div_272 .desc {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : 272px;
  position            : relative;
  margin              : 0;
  margin-top          : 14px;
  left                : 0px;
  font-family         : sans-serif, "FuturaLight", sans-serif;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.index .analysis_result .analysis_div_272 .avg-med-min-max {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  position            : relative;
  margin              : 0;
  margin-top          : 16px;
  left                : 0px;
  display             : inline-block;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 32.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.index .analysis_result .analysis_div_272 .dollars {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  position            : relative;
  margin              : 0;
  margin-top          : 16px;
  margin-left         : 84px;
  display             : inline-block;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 32.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.index .analysis_result .analysis_div_272 .prices {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  position            : relative;
  margin              : 0;
  margin-top          : 16px;
  right               : 0px;
  float               : right;
  display             : inline-block;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 32.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : right;
  line-height         : 43.0px;
}





.index .analysis_result .analysis_div_272 .room_type_statistics {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  margin              : 0;
  left                : 0px;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.index .analysis_result .analysis_div_272 .many-listings-are-co {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : 272px;
  margin              : 0;
  margin-top          : 14px;
  left                : 0px;
  font-family         : sans-serif, "FuturaLight", sans-serif;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.index .analysis_result .analysis_div_272 .entire_home_div {
  display: inline-block;
  width: 60px;
  margin-top: 28px;
  float: left;
}
.index .analysis_result .analysis_div_272 .entire_home_div .entire_home_img {
  height              : 50px;
  width               : 50px;
  margin              : auto;
}
.index .analysis_result .analysis_div_272 .entire_home_div .entire_home_img img {
  width               : 100%;
  height              : 100%;
}
.index .analysis_result .analysis_div_272 .entire_home_div .entire-home {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 12.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 16.0px;
  margin-top          : 14px;
}
.index .analysis_result .analysis_div_272 .entire_home_div .a726 {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 32.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : center;
  line-height         : 43.0px;
  margin-top          : 14px;
}
.index .analysis_result .analysis_div_272 .entire_home_div .label2 {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "AppleSDGothicNeo-Light", sans-serif;
  font-size           : 12.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.index .analysis_result .analysis_div_272 .entire_home_div .entire_home_prices {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : right;
  line-height         : 20.0px;
  margin-top          : 14px;
  float               : right;
}
.index .analysis_result .analysis_div_272 .entire_home_div .entire_home_dollars {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 20.0px;
  margin-top          : 14px;
  float               : left;
}

.index .analysis_result .analysis_div_272 .private_room_div {
  display: inline-block;
  width: 62px;
  margin : 0 45px 0 45px;
  margin-top: 28px;
}
.index .analysis_result .analysis_div_272 .private_room_div .private_room_img {
  height              : 50px;
  width               : 50px;
  margin              : auto;
}
.index .analysis_result .analysis_div_272 .private_room_div .private_room_img img {
  width: 100%;
  height: 100%;
}
.index .analysis_result .analysis_div_272 .private_room_div .private-room {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 12.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 16.0px;
  margin-top          : 14px;
}
.index .analysis_result .analysis_div_272 .private_room_div .listings-copy {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "AppleSDGothicNeo-Light", sans-serif;
  font-size           : 12.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.index .analysis_result .analysis_div_272 .private_room_div .a191 {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 32.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : center;
  line-height         : 43.0px;
  margin-top          : 14px;
}
.index .analysis_result .analysis_div_272 .private_room_div .private_room_prices_div {
  width: 60px;
  margin: auto;
}
.index .analysis_result .analysis_div_272 .private_room_div .private_room_prices {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : right;
  line-height         : 20.0px;
  margin-top          : 14px;
  float               : right;
}
.index .analysis_result .analysis_div_272 .private_room_div .private_room_dollars {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 20.0px;
  margin-top          : 14px;
  float               : left;
}
.index .analysis_result .analysis_div_272 .else_div {
  display: inline-block;
  width: 60px;
  margin-top: 28px;
  float: right;
}
.index .analysis_result .analysis_div_272 .else_div .else_img {
  height              : 50px;
  width               : 50px;
  margin              : auto;
}
.index .analysis_result .analysis_div_272 .else_div .else_img img {
  width: 100%;
  height: 100%;
}
.index .analysis_result .analysis_div_272 .else_div .else {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 12.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 16.0px;
  margin-top          : 14px;
}
.index .analysis_result .analysis_div_272 .else_div .listings-copy2 {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "AppleSDGothicNeo-Light", sans-serif;
  font-size           : 12.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.index .analysis_result .analysis_div_272 .else_div .a12 {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 32.0px;
  color               : rgba(255, 87, 91, 1.0);
  text-align          : center;
  line-height         : 43.0px;
  margin-top          : 14px;
}
.index .analysis_result .analysis_div_272 .else_div .else_prices {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : right;
  line-height         : 20.0px;
  margin-top          : 14px;
  float               : right;
}
.index .analysis_result .analysis_div_272 .else_div .else_dollars {
  background          : rgba(255, 255, 255, 0.0);
  height              : auto;
  width               : auto;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 20.0px;
  margin-top          : 14px;
  float               : left;
}
.index .analysis_result .analysis_div_272 .else_div .image1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 155px;
  height              : 40px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
}
.index .analysis_result .analysis_div_272 .else_div .else_img {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 147px;
  height              : 54px;
  width               : 54px;
  margin              : 0;
  left                : 211px;
}

.index .analysis_result .analysis_div_320 #ex-lang-area-div {
  height: 300px;
}
.index .analysis_result .analysis_div_320 .extra-host-languages {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Futura-Medium", sans-serif;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.index .analysis_result .analysis_div_320 .ex-lang-graph-div {
  margin-left: 24px;
  margin-top: 28px;
}
.index .analysis_result .analysis_div_320 .ex-lang-div {
  width               : 36px;
  height              : auto;
  bottom              : 0;
  display             : inline-block;
}
.index .analysis_result .analysis_div_320 .ex-lang-div #ex-lang7-div{
  margin-right        : 0;
}

.index .analysis_result .analysis_div_320 .ex-lang-rate {
  margin              : 0;
  left                : 3px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 12.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.index .analysis_result .analysis_div_320 .ex-lang-graph {
  background          : rgba(255, 87, 91, 1.0);
  width               : 100%;
}
.index .analysis_result .analysis_div_320 .ex-lang-label {
  margin              : 0;
  left                : 7px;
  font-family         : "FuturaLight", sans-serif;
  font-size           : 16.0px;
  color               : rgba(155, 155, 155, 1.0);
  text-align          : center;
  line-height         : 20.0px;
  margin-top: 7px;
}
